@model IEnumerable<sistemaweb.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdPreco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdQtde)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdPreco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdQtde)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdCodigo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdCodigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdCodigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
